.about {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  color: rgb(176, 176, 176);
  position: relative;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    border-top-right-radius: 50px;
    background-color: rgb(0, 0, 0);
  }

  .profilepic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    // border: 3px solid;
  }

  h1 {
    text-align: center;
  }

  h2 {
    padding-top: 10px;
  }

  h3 {
    padding-top: 15px;
  }

  h1,
  p,
  h3 {
    margin: 0;
  }

  a {
    font-size: 20px;
    color: inherit;
  }

  .button {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
  }

  .icons {
    display: flex;
    padding-top: 15px;
    gap: 10px;
    img {
      width: 20px;
    }
  }

  p {
    padding: 15px;
    text-align: left;
    font-size: 14px;
  }

  .skills {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

@media (min-width: 700px) {
  .about {
    max-width: 300px;
    p {
      text-align: center;
    }
  }
}
